Header {
  font-size: 1.5em;
  @media only screen and (min-width : 768px) and (max-width : 1024px) {
    font-size: 2em;
  }
  @media only screen and (min-width : 1024px) {
    font-size: 2.5em;
  }
  margin-bottom: 20px;
}
