@import 'styles/phosphor/index.css';

html {
  background-color: #EFEFEF;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


.game-score-board {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 545px;
  border: 2px solid #EEEEEE;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.game-title-element {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 545px;
  
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.game-board {
  margin-left: auto;
  margin-right: auto;
  
  padding-top: 1px;
  padding-left: 1px;
  width: 547px;
  height: 547px;
  background-color: #EEEEEE;
}

.board-element {
  font-size: 6em;
  width: 180px;
  height: 180px;
  margin: 1px 1px 1px 1px;
  float: left;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-family: 'Acme', sans-serif;
}

.player-X {
  color: blue;
}

.player-O {
  color: red;
}

.win-element {
  background-color: #fffacd
}

.save-game-element {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:3px;
  font-size: 14px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #942911;
  cursor:pointer;
  color:#ffffff;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
  font-family: 'Acme', sans-serif;
}
.save-game-element:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.save-game-element:active {
  position:relative;
  top:1px;
}


