.board {
  min-width: 400px;
  margin-top: 30px;
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
  height: 0;
  transition: height 3s, opacity 3s, ease 3s;

  @media only screen and (min-width : 1024px) {
    margin-top: 0;
  }

  &.visible {
    height: 100%;
    visibility: visible;
    opacity: 1.0;
    transition: height 3s, opacity 3s, ease 3s;
  }
}
.squareBttn {
  height: 100px;
  width: 100px;
  font-size: 74px;
  @media only screen and (min-width : 768px) and (max-width : 1024px) {
    height: 150px;
    width: 150px;
    font-size: 122px;
  }
  @media only screen and (min-width : 1024px) {
    height: 175px;
    width: 175px;
    font-size: 140px;
  }
  border: 1px solid #43b02a;
  flex-direction: row;

  &:hover, &:focus, &:active {
    background-color: #43b02a;
    outline: none;
    border: none;
  }
}

.winner {
  background-color: #43b02a;
  outline: none;
  border: none;
  &:hover, &:focus, &:active {
    background-color: #43b02a;
  }
}

.disabled {
  &:hover, &:focus, &:active {
    background-color: gray;

  }
}

.row {
  display: flex;
  justify-content: center;
}
