<!DOCTYPE html>
<html>
    <head>
        <title>Continuum UI Coding Challenge</title>
        <script src="{{ static_url('bundle.js') }}"></script>
    </head>
    <body>
      
      <div id="players">
        <label for="player0_field">
          <span>X</span>
          <input id="player0_field" placeholder="Enter name" maxlength="12">
        </label>
        <label for="player1_field">
          <span>O</span>
          <input id="player1_field" placeholder="Enter name" maxlength="12">
        </label>
      </div>
      
      <div id="controls">
        <button id="reset_button" disabled>Reset</button>
        <button id="undo_button" disabled>Undo</button>
        <button id="load_button" disabled>Load</button>
        <button id="save_button" disabled>Save</button>
      </div>

      <table id="board" data-game-id="">
        <tbody>
          <tr>
            <td><button data-square="1"></button></td>
            <td><button data-square="2"></button></td>
            <td><button data-square="3"></button></td>
          </tr>
          <tr>
            <td><button data-square="4"></button></td>
            <td><button data-square="5"></button></td>
            <td><button data-square="6"></button></td>
          </tr>
          <tr>
            <td><button data-square="7"></button></td>
            <td><button data-square="8"></button></td>
            <td><button data-square="9"></button></td>
          </tr>
        </tbody>
      </table>

      <div id="dialog_screen" class="hidden"></div>

      <div id="messages" class="dialog hidden">
        <h2>Testing</h2>
        <p>Message goes here</p>
        <button>Close</button>
      </div>

      <div id="game_list" class="dialog hidden">
        <h2>Saved Games</h2>
        <p>Click to load</p>
        <ul></ul>
        <button>Close</button>
      </div>

    </body>
</html
