.app {
  text-align: center;
  max-width: 500px;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  .title {
    font-size: 48px;
    border-bottom: 6px solid #b8bca7;
    text-align: left;
    margin-top: 0;
  }

  .winner-banner-enter {
    transform: translateY(-200%);

    &.winner-banner-enter-active {
      transform: translateY(0%);
      transition: transform 500ms ease-in;
      transition-delay: 1500ms;
    }
  }

  .winner-banner-appear {
    transform: translateY(-200%);

    &.winner-banner-appear-active {
      transform: translateY(0%);
      transition: transform 500ms ease-in;
      transition-delay: 2000ms;
    }
  }

  .winner-banner-leave {
    transform: translateY(0%);

    &.winner-banner-leave-active {
      transform: translateY(-200%);
      transition: transform 300ms ease-out;
    }
  }

  .game-enter {
    transform: translateY(200%);

    &.game-enter-active {
      transform: translateY(0%);
      transition: transform 300ms ease-in;
    }
  }

  .game-appear {
    transform: translateY(200%);

    &.game-appear-active {
      transform: translateY(0%);
      transition: transform 500ms ease-in;
    }
  }

  .game-leave {
    transform: translateY(0%);

    &.game-leave-active {
      transform: translateY(-200%);
      transition: transform 500ms ease-out;
    }
  }

  .new-game-appear {
    transform: scale(0);
    opacity: 0;

    &.new-game-appear-active {
      transform: scale(1);
      opacity: 1;
      transition: transform 300ms ease-in, opacity 300ms ease-in;
    }
  }
}
