.button {
  background: cadetblue;
  border: none;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 3px;

  &:disabled {
    background: #b8bca7;
    color: #a2a496;
    cursor: not-allowed;
  }
}
