@import './colors';

.game-piece-o {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .content {
    width: 90%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    border: 15px solid $cool;
    box-sizing: border-box;
    width: 90%;
    top: 4%;
    left: 4%;
    animation: growO 0.2s ease-in;
    animation-fill-mode: forwards;
  }


  @keyframes growO {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}
