@import './colors';

.leader-board {
  display: flex;
  flex-direction: column;

  h1 {
    border-bottom: 4px solid $background-contrast;
    text-align: left;
  }

  .leaders {
    overflow: auto;
    min-height: 200px;
  }

  .leader {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    border-bottom: 1px solid $background-contrast;
    padding: 5px;
  }
}
