.winner-banner {
  width: 100%;
  position: absolute;
  background: #538A95;
  z-index: 1;
  top: 0;
  box-sizing: border-box;
  padding: 60px 10px;
  flex-direction: column;
  border-radius: 5px;
  margin: 0 auto;
  top: 15%;
  left: 0;
  right: 0;
  color: white;

  h1 {
    font-size: 75px;
    margin: 0;
  }

  h2 {
    margin: 10px;
    margin-bottom: 30px;
    font-size: 35px;
  }

  .banner-container {
    position: relative;
    width: 100%;
    height: 125px;
  }

  .banner {
    width: 60%;
    height: 100px;
    background: #67B79E;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    font-family: cursive;
  }

  .angle {
    top: 25px;
    height: 0px;
    width: 25%;
    border: 50px solid #569682;
    border-left-color:transparent;
    box-sizing: border-box;
    position: absolute;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
      transform: rotate(180deg);
    }
  }

  .button {
    margin-top: 45px;
  }
}
