$content-bg: #f6f5f5;
$content-border: #dbdbdb;
$content-link-color: #08b1ff;
$content-header-color: #4a4a4a;
$content-subheader-color: #a8a8a8;
$content-text-color:#222222;
$content-blue-button-color:#0275d8;

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$deep-blue:                 #394268 !default;
